<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container my-5">
    <!-- Footer -->
    <footer class="text-center text-black">
        <!-- Grid container -->
        <div class="container p-4 footerNav">
            <!--Social media -->
            <section class="mb-4 ">  
                <!-- Twitter -->
                <a class="btn-lg"  href="#!" role="button"><i class="fa fa-twitter"></i></a>
                <!-- Instagram -->
                <a class="btn-lg"  href="#!" role="button"><i class="fa fa-instagram"></i></a>   
                <!-- Facebook -->
                <a class="btn-lg"  href="#!" role="button"><i class="fa fa-facebook"></i></a>
            </section>

            <!--Links -->
            <section>
                <div class="row">
                    <div class="col" routerLink="/">Home</div>
                    <div class="col" routerLink="/trails">Explore the Trails</div>
                    <div class="col" routerLink="/aboutus">About Us</div>
                    <div class="col" routerLink="/savedTrails">Saved Trails</div>
                    <div class="col" routerLink="/contactUs">Contact Us</div>
                </div>
            </section>
        </div>
        <!-- Grid container -->
        <!-- Copyright -->
        <div class="text-center p-3" >
            © Copyright GoHike.  Designed and developed by Zeel,Tapasya and Maaz.
        </div>
    </footer>
</div>