<div class="container">
    <img src="/assets/images/login.jpg" alt="happy customers" class="bgimg">
  <div class="imgLayover"></div>
    <div class="row" style="margin: 0;">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Login Page</h1>
                    <h6>Please enter email & password!</h6>
                </div>
            <form [formGroup] ="loginForm" (ngSubmit)="login(loginForm)">
                <div class="form-group row">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" [(ngModel)]="loginUserData.email" class="form-control" id="email" formControlName="email" aria-describedby="emailHelp">
            
                    <small id="emilHelp" class="form-text">We'll never share your email with anyone else.</small>
                    <span class="text-danger" *ngIf="loginForm.controls['email'].dirty && (loginForm.controls['email'].hasError('required') || loginForm.controls['email'].hasError('email'))">Please enter email.</span>

                </div>
                <div class="form-group row">
                    
                    <label for="password" class="form-label">Password</label>
                    <input type="password" [(ngModel)]="loginUserData.password" class="form-control" id="password " formControlName="password">
                    <span class="text-danger" *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required', 'password')">Please enter password.</span>
                </div>
                <div class="form-group row">
                    <div class="col-sm-8">
                    <button type="submit" [disabled]="!loginForm.valid" class="btn submitBtn" >Login</button>
                    <button type="button" class="btn btn-default cancelbtn "  (click) ="cancel()">Cancel</button>
                </div>
                </div>
                </form>
                <a routerLink = "/signup" class="signupLink">New user? Click to signup!</a>
            </div>
        </div>
    </div>

</div>
