/* You can add global styles to this file, and also import other style files */
@import '../../node_modules/bootstrap-icons/font/bootstrap-icons.css';
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
#nav-bar {
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    margin: 0 0 0 0;
}

#nav-btn{
    background-color: #fb5016;
    color: #fff;
    border: 1px solid #fb5016;
    border-radius: 15px;
    position: absolute;
    margin-left: 75%;
    bottom: 20%;
    /* transform: translatex(-50%); */
}


#nav-btn1{
    background-color: #fb5016;
    color: #fff;
    border: 1px solid #fb5016;
    border-radius: 15px;
    position: absolute;
    margin-left: 69%;
    bottom: 20%;
    /* transform: translatex(-50%); */
}

#nav-btn2{
    background-color: #fb5016;
    color: #fff;
    border: 1px solid #fb5016;
    border-radius: 15px;
    position: absolute;
    margin-left: 63%;
    bottom: 20%;
    /* transform: translatex(-50%); */
}


.navbar {
    margin-bottom: 0;
}
.navCss{
    padding: 10px;
}
.btn-lg {
    background-color: #fb5016;
    width: 80px;
    height: 30px;
    color: #fff;
    border-radius: 50%;
    margin: 5px;
}

img {
    height: 640px;
    margin: 0;
    /* border: 1px solid black; */
}

#demo {
    margin: 0;
    padding: 0;
}

.btnAlignment{
    margin-right: 100px;
    
}