/* .carousel-inner img{
    height: 300px;
    object-fit: cover;
    position: relative;
} */

/* .carousel-caption{
    bottom: 3.25rem;
} */
.carousel-caption h2{
    text-shadow: 2px 2px #282828;
}
i{
    position: absolute;
    bottom: 10%;
    right: 5%;
    color: white;
    font-size: 30px;
}

#detail-header {
    height: 400px;
    width: 100%;
    object-fit: cover;

}
.d-img {
    font-size: 30px;
}
#d-header-btn {
    background-color: #fb5016;
    color: #fff;
    height: 30px;
    width: 50px;
    padding-bottom: 5px;
    margin-left: 20px;
}
#detail-caption {
    margin-bottom: 10%;
    top: 14em;
}
#detail-caption h1{
    font-size: 40px;
    font-weight: 700;
    text-shadow: 2px 2px 2px #333;
}
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
.rating > input { 
    display:none;
}
.rating > label {
    position: relative;
    width: 1em;
    font-size: 2vw;
    color: #FFD600;
    cursor: pointer;
}
.rating > label::before { 
    content: "\2605";
    position: absolute;
    opacity: 0;
}
.rating > label:hover:before, .rating > label:hover ~ label:before {
    opacity: 1 !important;
}
.rating > input:checked ~ label:before {
    opacity:1;
}
.rating:hover > input:checked ~ label:before { 
    opacity: 0.7; 
}


.d-para {
    width: 50%;
    padding: 30px;
}
.len {
    font-weight: bold;
    font-size: 12px;
}
.act {
    text-align: left;
    font-weight: bold;
    margin-bottom: 0;
    padding: 10px;
    background-color: #e7e2e2e2;
    width: 99%;
}
.act-li {
    float: left; 
    width: 33%;
    padding: 10px;
    background-color: #e7e2e2e2;
}
ul {
    list-style: none; 
}
ul li::before {
    content: "\2022";
    color: #fb5016;
    font-weight: bold;
    display: inline-block; 
    width: 2em;
    margin-left: -1em;
}
/* .mapouter { 
    position:relative;
    text-align:right;
    height:450px;
    width:450px;
    padding: 30px;
    margin-right: 0;
    margin-bottom: 30px;
    margin-left: 150px;
}
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:450px;
    width:450px;
} */

.gmap_canvas {overflow:hidden;background:none!important;height:400px;width:500px;}

.mapouter{position:relative;text-align:right;height:400px;width:600px;margin: 20px 40px;} 


.photos {
    text-align: left;
    font-weight: 700;
    margin:10px 50px;
}
#p-rw {
    margin: 20px;
    display: flex;
    justify-content: space-around;
}
.d-img {
    height: 300px;
    width:300px;
}

/*-----------*/
#col-left {
    text-align: left;
    margin-left: 30px;
}
.reviews {
    font-weight: 700;
    width: 20%;
}
#d-review {
    padding: 10px;
}
.fa {
    font-size: 20px;
}
.checked {
    color: orange;
} 
/* Three column layout */
.side {
    float: left;
    width: 15%;
    margin-top:10px;
}
.middle {
    margin-top:10px;
    float: left;
    width: 70%;
}
/* Place text to the right */
.right {
    text-align: right;
    margin-left: 0;
}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
  }
  
  /* The bar container */
  .bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
  }
  
  /* Individual bars */
  .bar-5 {width: 48%; height: 18px; background-color: #ff9800;}
  .bar-4 {width: 40%; height: 18px; background-color: #ff9800;}
  .bar-3 {width: 25%; height: 18px; background-color: #ff9800;}
  .bar-2 {width: 5%; height: 18px; background-color: #ff9800;}
  .bar-1 {width: 2%; height: 18px; background-color: #ff9800;}
  
  /* Responsive layout - make the columns stack on top of each other instead of next to each other */
  @media (max-width: 400px) {
    .side, .middle {
      width: 100%;
    }
    .right {
      display: none;
    }
 }
 .review-btn {
	background-color: #fb5016;
	color: #fff;
	border-radius: 20px;
	border: none;
	outline: none;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 7px;
    width: 40%;
}
.review-btn:hover {
	background-color: #BF360C;
}


/*border for block*/
#col-right {
    padding: 20px;
    float:right;
    margin-left: 30px;
    margin-right: 20px;
}
.block {
	border-right: 1px solid #F5EEEE;
	border-top: 1px solid #F5EEEE;
	border-bottom: 1px solid #F5EEEE;
}
.profile-pic{
    float: left;
    height: 20px;
    width: 20px;
	border-radius: 50%;
    margin-right: 10px;
}
.grey-text {
    margin-left: 20px;
}
#rev-p {
    margin: 5px;
}

  
/* responsive */

@media only screen and (max-width: 768px) {
    #detail-header {
        margin-top: 30px;
        height: 250px;
    }
    #h2-header {
        color: #fff;
        height: 50px;
        text-align: center;
    }
    #d-header-btn {
        background-color: #fb5016;
        color: #fff;
        height: 25px;
        width: 55px;
        padding-bottom: 7px;
        margin-right: 40px;
        bottom: 0;
    }
    .rating {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        margin-right: 20px;
    }
    .rating > input { 
        display:none;
    }
    .rating > label {
        position: relative;
        width: 1em;
        font-size: 3vw;
        color: #FFD600;
        cursor: pointer;
    }
    .rating > label::before { 
        content: "\2605";
        position: absolute;
        opacity: 0;
    }
    .rating > label:hover:before, .rating > label:hover ~ label:before {
        opacity: 1 !important;
    }
    .rating > input:checked ~ label:before {
        opacity:1;
    }
    .rating:hover > input:checked ~ label:before { 
        opacity: 0.7; 
    }
    
    
    .d-para {
        width: 90%;
        text-align: left;
        padding-left: 50px;
    }
    .len {
        font-weight: bold;
        font-size: 12px;
    }
    .act {
        text-align: left;
        font-weight: bold;
        margin-bottom: 0;
        padding: 10px;
        background-color: #e7e2e2e2;
        width: 99%;
    }
    .act-li {
        width: 33%;
        padding: 5px;
        background-color: #e7e2e2e2;
    }
    ul {
        list-style: none; 
    }
    ul li::before {
        content: "\2022";
        color: #fb5016;
        font-weight: bold;
        display: inline-block; 
        width: 2em;
        margin-left: -1em;
    }
    .mapouter { 
        text-align:left;
        height:200px;
        width: 95%;
        margin-bottom: 30px;
        margin-left: 20px;
    }
    .gmap_canvas {
        overflow:hidden;
        background:none!important;
        height:200px;
        width: 95%;
    }
    
    
    .photos {
        text-align: left;
        font-weight: 700;
        margin-left: 40px;
        margin-bottom: 20px;
    }
    #p-rw {
        display: flex;
        height: 1000px;
        justify-content: center;
        margin-top: 0;
        padding-top: 10px;
        margin-left: 20px;
        margin-bottom: 0;
    }
    .img-fluid {
        justify-content: center;
        height: 200px;
        width:400px;
    }
    
    /* /-----------/ */
    #col-left {
        text-align: left;
        margin-left: 30px;
        width: 80%;
        margin-left: 20px;
    }
    .reviews {
        font-weight: 700;
        width: 100%;
        text-align: left;
        margin-left: 20px;
    }
    #d-review {
        padding: 10px;
    }
    .span {
        margin-left: 20px;
    }
 
      /* Responsive layout - make the columns stack on top of each other instead of next to each other */
    
        .side, .middle {
          width: 100%;
          margin-left: 20px;
        }
        .right {
          display: none;
        }
     
     .review-btn {
        background-color: #fb5016;
        color: #fff;
        border-radius: 20px;
        border: none;
        outline: none;
        margin-left: 20px;
        margin-top: 5px;
        margin-bottom: 10px;
        padding: 7px;
        width: 50%;
    }
    .review-btn:hover {
        background-color: #BF360C;
    }
    
    
    /* /border for block/ */
    #col-right {
        padding: 20px;
        float:right;
        margin-left: 20px;
        margin-right: 20px;
    }
    .block {
        border-right: 1px solid #F5EEEE;
        border-top: 1px solid #F5EEEE;
        border-bottom: 1px solid #F5EEEE;
    }
    .profile-pic{
        float: left;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        margin-right: 10px;
    }
    .grey-text {
        margin-left: 20px;
    }
    #rev-p {
        margin: 5px;
    }
}