<app-header></app-header>


<app-header></app-header>
<!-- Header -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">
    <div class="trail-container">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/assets/images/trailHeader.jpg" alt="Header" class="d-block w-100" id="trail-header">
                <h2 class="trail-caption">Contact Us</h2>
        </div>
    </div>
    </div>
</div>


<div class="row" >
    <div class="d-para" style="margin: 20px 40px;">
        <div class="container">
            <form action="/action_page.php">
              <label for="fname">Name</label>
              <input type="text" id="name" name="name" placeholder="Your name..">
          
              <label for="lname">Email</label>
              <input type="text" id="email" name="email" placeholder="Your email id..">
          
              <label for="subject">Subject</label>
              <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
          
              <input type="submit" value="Submit">
            </form>
          </div>
    </div>
    <div class="mapouter">
        <div class="gmap_canvas">
            <iframe width="500" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            <a href="https://fmovies-online.net"></a><br>
            <a href="https://www.embedgooglemap.net">insert google map</a><style></style>
        </div>
    </div>
</div>

<app-footer></app-footer>