<app-header></app-header>
<!-- Header -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">
    <div class="trail-container">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/assets/images/trailHeader.jpg" alt="Header" class="d-block w-100" id="trail-header">
                <h2 class="trail-caption">About Us</h2>
        </div>
    </div>
    </div>
</div>

<!--Paragraph-->
<div class="about-p">
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto consectetur cum quas quia incidunt. Impedit, labore voluptates? Blanditiis molestias autem quis fuga, cumque doloremque deleniti fugiat voluptatum maxime est excepturi.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate veritatis est reprehenderit veniam asperiores commodi exercitationem a cum alias eos facere, beatae in. Molestias ipsam quod perspiciatis? Ut, dolor corrupti.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat dolore placeat inventore reiciendis incidunt quasi odio labore dignissimos aliquam natus fuga odit maxime, corporis officiis exercitationem facilis maiores tempore numquam.
    </p>
    <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Architecto consectetur cum quas quia incidunt. Impedit, labore voluptates? Blanditiis molestias autem quis fuga, cumque doloremque deleniti fugiat voluptatum maxime est excepturi.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate veritatis est reprehenderit veniam asperiores commodi exercitationem a cum alias eos facere, beatae in. Molestias ipsam quod perspiciatis? Ut, dolor corrupti.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat dolore placeat inventore reiciendis incidunt quasi odio labore dignissimos aliquam natus fuga odit maxime, corporis officiis exercitationem facilis maiores tempore numquam.
    </p>
<!--Image-->
<img src="/assets/images/Credit.jpg" alt="Credit Valley" class="about-img">
</div>


<app-footer></app-footer>